@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div style="margin-top:40px;">
    <h4>Application Name:</h4>
    <h2>@Model.applicationName</h1>
    <hr>
    <h4>Mogo Uri:</h4>
    <h2>@Model.mongoUri</h2>
</div>
