html
 head
  title=title
  link(href='css/bootstrap.min.css', rel='stylesheet')
  script(src='js/jquery.min.js')
  script(src='js/bootstrap.min.js')
 body
 div(style='margin:5%; margin-top:20px;')
  block content
  block footer
    hr
    small Copyright !{year} Registration Microservices
  